#header {
    background-color: gray;
    margin-bottom: 50px;
    font-family: 'Lora', serif;
    height: 400px;
    text-align: center;
}

#photo {

}

#nameAndTitle {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
#contact{
    list-style-type: none;
} 
h3 {
    text-transform: uppercase;
}
#contact i {
    width: 30px;
    color: darkgreen;
}
#jobs {
    list-style: none;
}
#container {
    grid-template-columns: 30% auto;
    display: grid;

}
#sidebar, #content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card h3 {
    font-family: 'Lora', serif;
}
.card {
    border: gray;
    border-radius: 15px;
    padding: 20px;
}
