#header {
    background-color: gray;
    margin-bottom: 50px;
    font-family: 'Lora', serif;
    height: 300px;
    text-align: center;
}

#knowMe {
    width: 1500px;
    height: 500px;
    margin: 3% 10% 5% 11%;
    background-color: rgba(128, 128, 128, 0.185);
    font-family: 'Lora', serif;
    text-align: justify;
    }

#aboutMe { 
    margin-left: 5cm;
    margin-right: 5cm;
}

#nameAndTitle {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
#contact{
    list-style-type: none;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

h3 {
    text-transform: uppercase;
    text-align: center;
}
#contact i {
    width: 60px;
    font-size: 25px;
    color: rgb(80, 78, 78);
}
#jobs {
    list-style: none;
}
#container {
    grid-template-columns: 30% auto;
    display: grid;

}
#sidebar, #content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card h3 {
    font-family: 'Lora', serif;
}
.card {
    border: gray;
    border-radius: 15px;
    padding: 20px;
}
